<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Universidad</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<!--       <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Soy Universitario <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Acceso</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul> -->
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscador">
        </div>
        <button type="submit" class="btn btn-default">
        	<i class="fa fa-search" aria-hidden="true"></i>
		</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
        <% if !student_signed_in? %>
          <%= link_to new_student_session_path, class: "btn btn-warning" do %>
            Soy Universitario <i class="fa fa-sign-in" aria-hidden="true"></i>
          <% end %>
        <% else %>
          <%= link_to destroy_student_session_path, method: :delete, class: "btn btn-default" do %>
            <%= current_student.email %> <i class="fa fa-sign-out" aria-hidden="true"></i>
          <% end %>
        <%end%>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>