<%= render "partials/navigation" %>
<div class="jumbotron">
	<span>
		<button type="button" class="btn btn-success btn-lg btn-block">Sé qué quiero estudiar</button>
  		<button type="button" class="btn btn-default btn-lg btn-block">Aún no lo decido</button>
	</span>
</div>

<%= render "partials/landing_page/stories" %>
