<%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{ class: "login-form", :autocomplete => "off" }) do |f| %>

  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x"></i>
    </span>
  </p>

  <%= f.email_field :email, autofocus: true, :class => 'login-username', :required => true, :placeholder => "Email" %>
  <%= f.password_field :password, :autocomplete => 'off', :class => 'login-password', :required => true, :placeholder => "Contraseña" %>


  <% if !devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <%= f.submit "Ingresar", :class => "login-submit" %>
<% end %>

 <!-- render "devise/shared/links"  -->
<div class="underlay-photo"></div>
<div class="underlay-black"></div> 
