.jumbotron {
    margin-bottom: 0px;
    background-image: url(landing_page/notes-macbook-study-conference.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}